<ul class="list-group my-4 mx-5">
  <%@articles.each do |article| %>
    <li class="list-group-item">
      <h5><%=link_to article.title, article_path(article.id), class:"text-decoration-none"%></h5>
      <p><%=article.content%></p>
    </li>
  <%end %>
</ul>
<%=link_to "Add new article", new_article_path, class:"btn btn-outline-primary mb-4" %>
