<h1><%= @article.title %></h1>
<p><%= @article.content %></p>
<%=link_to "Update", edit_article_path, class:"btn btn-primary mx-3"%>
<%=link_to "Back", articles_path, class:"text-muted text-decoration-none"  %>
